@font-face {
    font-family: 'FunnelSans-Italic';
    src: url('fonts/FunnelSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FunnelSans';
    src: url('fonts/FunnelSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PoiretOne';
    src: url('fonts/PoiretOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    --muted-teal: #85baa1ff;
    --vintage-grape: #544e61ff;
    --slate-grey: #6e8894ff;
    --linen: #f7ebdeff;
    --linen-dark: #f2dfc9ff;
    --platinum-light: #EEF1F2ff;
    --platinum: #e8ebedff;

    --header-height: 64px;
    --footer-height: 36px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'FunnelSans', sans-serif;
}

body {
    background-color: var(--platinum);
}

.full-height {
    height: 100%;
}

.header {
    top: 0;
    height: var(--header-height);
    background: var(--muted-teal);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -8px 5px 10px #544e61AA;
}

.header__title {
    font-family: 'PoiretOne', 'FunnelSans', sans-serif;
}

.footer {
    bottom: 0;
    height: var(--footer-height);
    background: var(--vintage-grape);
    font-family: 'FunnelSans-Italic', sans-serif;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 16px;
    color: var(--linen);
    box-shadow: 0px 8px 5px 10px #544e61AA;
}

.fixed {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.main-layout {
    padding-top: calc(var(--header-height) + 32px);
    padding-bottom: calc(var(--footer-height) + 32px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.card {
    width: 80%;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 #544e61AA;
    background-color: white;
}

.card__title {
    font-weight: 400;
    color: var(--vintage-grape);
}

.card__divider {
    border: none;
    height: 1px;
    background-color: var(--muted-teal);
    margin: 8px;
}

.card__list {
    list-style-type: none;
}

.card__list>li:not(:last-child) {
    margin-bottom: 8px;
}

.card__text--light {
    font-family: 'FunnelSans-Italic';
    color: var(--slate-grey);
}

.calendar__header,
.calendar__day-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 4px;
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
}

.calendar li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.calendar__header li {
    font-weight: 600;
    aspect-ratio: 1.5;
}

.calendar__day-grid li {
    aspect-ratio: 1;
    border: solid 1px var(--linen-dark);
    border-radius: 4px;
}

.calendar__week-nr {
    color: var(--muted-teal);
    border: none !important;
}

.calendar__day--today {
    color: var(--vintage-grape);
    font-weight: 600;
    background-color: var(--linen-dark);
}

.calendar__day--prev-month, .calendar__day--next-month {
    color: var(--platinum);
    border-color: var(--platinum) !important;
}

.calendar__day--weekend {
    background-color: var(--platinum-light);
}

.calendar__day--prev-month.calendar__day--weekend, .calendar__day--next-month.calendar__day--weekend {
    color: white;
    border-color: var(--platinum) !important;
}